{% extends 'app/index.html' %}

{% block content %}
    <div class="container">
        <h1>Це твій персональний гід по улюблених місцях! 🌟</h1>
        <p>
            Тут ти можеш зберігати свої улюблені ресторани, кафе, парки чи місця для розваг. 
            Можна просто переглядати список, щоб згадати улюблені точки, або дозволити дати сайту підказку, куди піти сьогодні. 
        </p>
        <a href="{% url 'app:random_page' %}">
            <button class="btn">Куди піти сьогодні?</button>
        </a>
    </div>
{% endblock %}